* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

.select {
    text-align: center;
    margin-top: 20px;
}

select {
    margin: 0 10px;
}
.img-ct {
    margin: 0 auto;
    width: 600px;
}